<div class="section no-pad-bot" id="index-banner">
  <br>
  <div class="container">
    <img class="header-img" src="https://cdn.rawgit.com/alif-bae/regional-archive-assets/e52459c9/img/banner.png"/>
  </div>
</div>