<nav class="teal darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/home/index" class="brand-logo">
      Regional Archive of Pakistan
    </a>
    
    <ul class="right hide-on-med-and-down">
      <li><a href="/home/index">About</a></li>
      <li><a href="/home/contact">Contact</a></li>
      <li><a href="/interviews/index">Interviews</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav teal darken-4">
      <li><img src="https://4.bp.blogspot.com/-SOwlSY_1TlQ/VGDoWuuwYhI/AAAAAAAAB_M/v5rL5n38FGE/s1600/background_03.png" width="100%"></li>
      <li><a href="/home/index">About</a></li>
      <li><a href="/home/contact">Contact</a></li>
      <li><a href="/interviews/index">Interviews</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>