<nav class="teal darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/home/index" class="brand-logo">
      Regional Archive of Pakistan
    </a>
    
    <ul class="right hide-on-med-and-down">
      <li><a href="/home/index">About</a></li>
      <li><a href="/people/contact">Contact</a></li>
      <li><a href="/home/directory">Directory</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav teal darken-4">
      <li><img src="http://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0295/thumbnail/lg.png" width="100%"></li>
      <li><a href="/home/index">About</a></li>
      <li><a href="/people/case_directory" class="white-text">Case Directory</a></li>
      <li><a href="/home/ethical_framework">Ethical Framework</a></li>
      <li><a href="/home/inspiration">Inspiration</a></li>
      <li><a href="/projects/index">Projects</a></li>
      <li><a href="/people/index">People</a></li>
      <li><a href="/home/resources">Resources</a></li>
      <li><a href="/home/submit">Submit Story</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>